/* 
    Document   : mystyle.css
    Created on : 7 Jun, 2012, 8:37:57 AM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

#login_buttons
{
    position: absolute;
    margin-left: 50%;
    margin-top: 1px;
    padding: 3px;
    
    
    visibility: hidden;
    
    background-color: #003451;    
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;    
        
    font-family: 'Times New Roman',Times,serif;
}

#displayInputs_add_new
{
    padding-top: 5px;
    border-bottom:solid;
    border-color:black;
    
    
    text-align: left;
 
}



#displayInputs_add_new a
{
	
	font-size: 110%;
	color: white;
	background-color:#CA2934;
	padding: 10px;
	text-decoration: none;

         
}

#add_new_case{
	font-weight: bold;
}


#displayInputs_solution
{
    margin-top: 800px;
    margin-left: 800px;
    width: 300px;
    height:5px;
    
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */    
}

#displayInputs_narrative_details
{    
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    margin-left: 45%;
    z-index: 2;
    width: 50%;
    height:450px;
    position: absolute;
    
    font-size: 110%;
    overflow: visible;
    color:black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    background-color: white;    
}

#displayInputs_heading
{
    margin-top: 3px;
    color:black;
}


#displayInputs_narrative_list
{
    cursor:pointer;
     overflow: scroll;
    font-size: 100%;
    z-index: 1;
    margin-left: 20px;
    margin-top: 5px;
    width:40%;
    height:88%;
    position:absolute;
    color: black;
    
    
}
  
.displayInputs_problems
{
   
    padding: 8px;
    margin: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    width:98%;
    color:white;
    background-color: #004a73 ;
    
    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px; 
    
}

.displayInputs_problems:hover
{
    background-color: #fdc066;
    
    color: black ;
}

.issue_div
{
    margin-left: auto;
    margin-right: auto;
    
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    font-size: 110%;
    
    width: 1000px;
    
    
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
        
        
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */        
        
    
}

.div_posts_box
{
    margin-left: auto;
    margin-right: auto;
    
    width:1200px;
    
   
    
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 10px
}

.div_posts_list
{
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px
}


.div_post_author
{
    color:white;
    background-color: #003451;
    font-size: 140%;
    
    width: 350px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.div_post_content
{
    color:black;
    background-color: white;
    font-size: 120%;
    
    padding-left: 20px;
    padding-top:  20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 220px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
}


body {

        font-family: Geneva, Tahoma, Verdana, sans-serif;
        background: white;
        
}        

h2{
    
        
       
    padding-left : 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    margin-right: 25px;
    
    width: 98%;
    font-size: 120%;
        
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    
    color:black;
    
    background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}


h2 a
{
    text-decoration: none;
    color: black;
}

#the_fixed_bar{
	position: static;
}

#horizontal_nav_bar{




-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#horizontal_nav_bar ul{
    margin: 0; padding: 0;
    float: right;
 }
 
#horizontal_nav_bar ul li{
    display: inline;
    margin: 10px;
    
 }
 
#horizontal_nav_bar ul li a{
    float: left; text-decoration: none;
    color: whitesmoke;
    padding: 10.5px 10.5px;
    background-color: #333 ;
    margin: 3px; 
    
    background-color: #174FF5;  
    
    
   }
 
#horizontal_nav_bar ul li a:visited{
    color: white ;}
 
#horizontal_nav_bar ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color: #008000;}

#content_space
{            
    
                -webkit-border-radius: 15px;
                border-radius: 15px; 
                -moz-border-radius: 15px;
        
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 25px;
                margin-bottom: 25px;  
                
                padding-bottom: 20px;
                
                background: rgb(249,252,247); /* Old browsers */
                background: -moz-linear-gradient(-45deg, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(-45deg, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(-45deg, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(-45deg, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
                background: linear-gradient(-45deg, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                                
}

#loginbox{
    
    position: absolute;
   
    
    margin-left:10%;
    margin-top: 60px;
    
    width: 350px;
    
-webkit-border-radius: 25px;
border-radius: 25px; 
-moz-border-radius: 25px;

}

#content_feed{
    
    padding-left: 50%;
    padding-top: 5%
}

div.feed_title{
    padding-top: 1%;
    padding-bottom: 1%;
    
          
}

div.feed_title a{
    
    color: black;
   text-decoration: none;
    background-color: white ; }

div.feed_title a:hover{

            background: #2c539e; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #2c539e 0%, #2c539e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg, #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, #2c539e 0%,#2c539e 100%); /* IE10+ */
        background: linear-gradient(-45deg, #2c539e 0%,#2c539e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

            color: white;

}


#main_head
{

            margin-left:auto;
            margin-right: auto;

            width:80%;
            margin-bottom: 50px;
            margin-top: 50px;

            font-size: 160%;  
            color: white;



            background: rgb(96,108,136); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(-45deg, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(-45deg, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(-45deg, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
            background: linear-gradient(-45deg, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
}


#process_button_panel
{
      -webkit-border-radius: 5px;
     border-radius: 5px; 
     -moz-border-radius: 5px;
    
    cursor: pointer;
    margin-left: 30%;
    
    
    padding-top: 5px;
    font-size: 120%;
    
    width:300px;
    height:40px;
  
    visibility: true;
    
    background-color: #333;    
    
    color:white;   
}

#process_dropdown
{
   padding-left: 20px;
   padding-top: 20px;
   padding-right: 20px; 
    background-color: blue;
    margin-left: 5%;
    
    margin-top: 15px;
    width:80%;
    height:400px;
    background-color: black;
    opacity: 0.9;
    visibility: hidden;
    z-index: 2;
    
    vertical-align: central;
    
    font-size: 130%;
    
    overflow: scroll;
    position: absolute;
    
    
}

#process_input
{
    
      -webkit-border-radius: 5px;
     border-radius: 5px; 
     -moz-border-radius: 5px;
     
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow : scroll;
    
    z-index: 0;
    margin-top: 10px;
    margin-left: 10px;
    
    font-size: 120%;
    
    position: absolute;
    
    width: 47%;
    height: 500px;

    background-color: #f0f9ff;
    
    color:black;
    
     
    
}

#process_process
{
    
      -webkit-border-radius: 5px;
     border-radius: 5px; 
     -moz-border-radius: 5px;
    
    z-index: 0;
    position: absolute;
    
    margin-left: 49%;
    margin-top: 10px;
    
    width: 70%;
    height: 500px;
    
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    
    padding-left: 5px;
    padding-top: 10px;
    overflow: scroll;
    
    font-size: 90%;
    
}

.process_problem_list
{
    cursor:pointer;
 
    width: 900px;
    height:30px;
    
    font: 130%;
    
    margin-top: 5px;
    
    padding-top: 5px;
    
    background-color: #2c539e;
    color: white;
    
     -webkit-border-radius: 5px;
     border-radius: 5px; 
     -moz-border-radius: 5px;
}

.process_post_author
{
    width:200px;
    height:25px;
    font-size: 110%;
    color: white;
    background-color: #1982d1;
    
    padding-left: 7px;
    padding-top:7px;
    -webkit-border-radius: 4px;
     border-radius: 5px; 
     -moz-border-radius: 4px;
}

.process_post_content
{ 
    width:700px;
    
    padding-left: 15px;
    padding-top: 4px;
    
    color: black;
    background-color: #f5f7f9;
    
    font-size: 120%;
    -webkit-border-radius: 5px;
     border-radius: 5px; 
     -moz-border-radius: 5px;
}

.process_problem_list:hover
{
 
    width: 900px;
    height:30px;
    
    margin-top: 5px;
    
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */


    opacity: 1;
    color: black;
    
     -webkit-border-radius: 5px;
     border-radius: 5px; 
     -moz-border-radius: 5px;
}

#chain_buttonpanel{
    
    
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 5px;
    font-size: 110%;
    
    width:330px;
    height:40px;
  
    visibility: true;
    
   background-color: #df2227;
   color:white;
}

#chain_dropdown{
    
    padding-left: 20px;
   padding-top: 30px;
    
    background-color: blue;
    margin-left: 20px;
    margin-right: auto;
    width:1200px;
    height:400px;
    background-color: black;
    opacity: 0.9;
    visibility: hidden;
    z-index: 3;
    
    vertical-align: central;
    
    overflow: scroll;
    position: absolute;
}

#chain_input
{
    z-index: 1;
    margin-left: 5px;
    position: absolute;
    width:400px;
    height: 500px;
    
    background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
}

#chain_process
{
    z-index: 1;
    margin-left: 410px;
    width: 400px;
    height: 500px;
   
    background: #ebf1f6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
background: linear-gradient(-45deg, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    
    position: absolute;
    
    overflow: scroll;
    
}

#chain_solution
{
    z-index: 1;
    margin-left: 820px;
    width: 400px;
    height: 500px;
    
    background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
background: linear-gradient(-45deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    position: absolute;
    
}

#displayInputs_imageUpload
{
     padding-left: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 2;
    
     margin-left: 45%;
    
    
    margin-top: 5px;
    width: 640px;
    height:70px;
    position: absolute;
    
    font-size: 110%;
    
    
    
    color:black;
    
     -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
        
}

.plain_link
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    background-color: #777 ; 
    
    color:white;
    
    padding:7px;
    
}

.plain_link a
{
    text-decoration: none;
    color: white;
}

#account_instruction{
    
    width: 70%;
    
    color:black;   
    font-size: 130%;
     -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    
}

#completeProfile_panel1{
    
    
       border-color: #003451 ;
    border-style: solid;
    
    
    margin-top: 30px;
    margin-left: 330px;
    position: absolute;
    
    width: 320px;
    
    
    
     -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    padding: 20px;
    
    
}

#completeProfile_panel2{
    
    margin-top: 30px;
    
      border-color: #003451;
    border-style: solid;
    
    
    
    width:270px;
    position: absolute;
    
    
     -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    padding: 20px;
    
}


#completeProfile_panel3{
    
    border-color:#003451;
    border-style: solid;
    
    margin-top: 30px;
    margin-left: 710px;
    position: absolute;
    
    width:320px;
    
    
     -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    
    padding: 20px;
    
}

#user_name{
    font-size: 70%;
    
}



.hd{
    
    color: #004a73;
    
}

.bd{
    
    color: #2b465e;
    
}


#care_seeker_form
{
    
}

#submit_reports_form
{
    margin-left: 33%; 
    width: 33%;
    padding: 20px;
    border-style: solid;
    border-color: #000;
}