<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>udhc-eclipse-tomcat6</display-name>
  <servlet>
    <servlet-name>CatchHealthIssue</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.CatchHealthIssue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>org.udhc.gen.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>org.udhc.controller.user.registerUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatchForumPost</servlet-name>
    <servlet-class>org.udhc.gen.CatchForumPost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>org.udhc.gen.UploadImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewImage</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.ViewImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatchSolution</servlet-name>
    <servlet-class>org.udhc.controller.solution.CatchSolution</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatchHealthIssue2</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.CatchHealthIssue2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadToDocs</servlet-name>
    <servlet-class>org.udhc.gen.google.UploadToDocs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>signout</servlet-name>
    <servlet-class>org.udhc.controller.user.signout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatchReport</servlet-name>
    <servlet-class>org.udhc.gen.CatchReport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showImageReport</servlet-name>
    <servlet-class>org.udhc.gen.showImageReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchHealthIssue</servlet-name>
    <url-pattern>/CatchHealthIssue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/openid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatchForumPost</servlet-name>
    <url-pattern>/CatchForumPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewImage</servlet-name>
    <url-pattern>/ViewImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatchSolution</servlet-name>
    <url-pattern>/CatchSolution</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatchHealthIssue2</servlet-name>
    <url-pattern>/CatchHealthIssue2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadToDocs</servlet-name>
    <url-pattern>/UploadToDocs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatchReport</servlet-name>
    <url-pattern>/CatchReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showImageReport</servlet-name>
    <url-pattern>/showImageReport</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CatchUpdateHealthIssue</display-name>
    <servlet-name>CatchUpdateHealthIssue</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.CatchUpdateHealthIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchUpdateHealthIssue</servlet-name>
    <url-pattern>/CatchUpdateHealthIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHealthIssue</display-name>
    <servlet-name>DeleteHealthIssue</servlet-name>
    <servlet-class>org.udhc.controller..healthRecord.DeleteHealthIssue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHealthIssue</servlet-name>
    <url-pattern>/DeleteHealthIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatchImageUpload</display-name>
    <servlet-name>CatchImageUpload</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.CatchImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchImageUpload</servlet-name>
    <url-pattern>/CatchImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllImagesIDs</display-name>
    <servlet-name>GetAllImagesIDs</servlet-name>
    <servlet-class>org.udhc.controller.upload.GetAllImagesIDs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllImagesIDs</servlet-name>
    <url-pattern>/GetAllImagesIDs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHealthFile</display-name>
    <servlet-name>DeleteHealthFile</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.DeleteHealthFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHealthFile</servlet-name>
    <url-pattern>/DeleteHealthFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getFeed</display-name>
    <servlet-name>getFeed</servlet-name>
    <servlet-class>org.udhc.controller.GetFeed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFeed</servlet-name>
    <url-pattern>/GetFeed</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>domain</description>
    <param-name>domain_url</param-name>
    <param-value> http://localhost:8080/UDHC/</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>changeHealthIssueApprovalStatus</display-name>
    <servlet-name>changeHealthIssueApprovalStatus</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.changeHealthIssueApprovalStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeHealthIssueApprovalStatus</servlet-name>
    <url-pattern>/changeHealthIssueApprovalStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserPrivilegeAprroval</display-name>
    <servlet-name>UpdateUserPrivilegeAprroval</servlet-name>
    <servlet-class>org.udhc.controller.user.UpdateUserPrivilegeAprroval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserPrivilegeAprroval</servlet-name>
    <url-pattern>/UpdateUserPrivilegeAprroval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>org.udhc.gen.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHealthIssueFromDashboard</display-name>
    <servlet-name>DeleteHealthIssueFromDashboard</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.DeleteHealthIssueFromDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHealthIssueFromDashboard</servlet-name>
    <url-pattern>/DeleteHealthIssueFromDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatchProfileData</display-name>
    <servlet-name>CatchProfileData</servlet-name>
    <servlet-class>org.udhc.controller.user.CatchProfileData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchProfileData</servlet-name>
    <url-pattern>/CatchProfileData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateModerator</display-name>
    <servlet-name>UpdateModerator</servlet-name>
    <servlet-class>org.udhc.controller.user.UpdateModerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateModerator</servlet-name>
    <url-pattern>/UpdateModerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getApprovedRecords</display-name>
    <servlet-name>getApprovedRecords</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.getApprovedRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getApprovedRecords</servlet-name>
    <url-pattern>/getApprovedRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatchTimelinePost</display-name>
    <servlet-name>CatchTimelinePost</servlet-name>
    <servlet-class>org.udhc.controller.user.CatchTimelinePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatchTimelinePost</servlet-name>
    <url-pattern>/CatchTimelinePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTimelinePosts</display-name>
    <servlet-name>GetTimelinePosts</servlet-name>
    <servlet-class>org.udhc.controller.GetTimelinePosts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTimelinePosts</servlet-name>
    <url-pattern>/GetTimelinePosts</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/awsDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>DbPoolTest</display-name>
    <servlet-name>DbPoolTest</servlet-name>
    <servlet-class>org.udhc.controller.upload.DbPoolTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbPoolTest</servlet-name>
    <url-pattern>/DbPoolTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConsentLetter</display-name>
    <servlet-name>GetConsentLetter</servlet-name>
    <servlet-class>org.udhc.controller.healthRecord.GetConsentLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConsentLetter</servlet-name>
    <url-pattern>/GetConsentLetter</url-pattern>
  </servlet-mapping>
</web-app>